<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="tasksPath" value="C:\tmp\automation\data\build\build.tasks"/>

    <!-- location of the pre-built tasks -->
    <add key="buildTasksPath" value="C:\tmp\automation\data\build\tasks"/>

    <!-- location of processes to run by the process runner-->
    <add key="buildProc" value="C:\tmp\automation\data\build\scripts"/>
    
  </appSettings>


      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>